/* Reseting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*  */

/* wrapper */
.wrapper {
    position: relative;
    background-image: url(/assets/img/bg_pc_glo.webp);
    height: 163vw;
    width: 100%;
    background-color: #88ae3f;
    background-repeat: no-repeat;
    background-size: 100%;
}


/* nav  */
.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 26vw;
    line-height: 3.5vw;

}

.nav_img {
    width: 11.5vw;
}

.nav_guidline img {
    width: 12.5vw;

}

.nav_community img {
    width: 14vw;

}

.nav_img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s ease;
    filter: brightness(40%);
}

/* end nav  */
/*btn trailer*/
.btn-trailer-m {
    display: none;

}

.btn-trailer {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-trailer img {
    width: 7vw;
    animation: animationScale 1.5s alternate infinite ease-in;
}

.date {
    position: absolute;
    top: 10.5%;
    left: 65%;
}

.date img {
    width: 10vw;

}

.date-mob {
    display: none;
}


.modal-dialog {
    max-width: 65vw;

}

.modal-content {
    background-color: transparent;
    border: none;
}


iframe {
    width: 65vw;
    height: 36.6vw;
}

.modal-banner-bg {}

video {
    width: 65vw;
}

button.close.close-banner.close-popup-banner {
    transform: translateX(50px);
}



/*download */
.download {
    position: absolute;
    display: flex;
    top: 45vw;
    left: 50%;
    transform: translate(-50%);

}

.download_img {
    width: 13vw;
    margin: 0 10px;
}

.download_img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.6s ease;
    filter: brightness(120%);
}

/* end download */

/* social */

.social {
    position: absolute;
    display: flex;
    top: 148vw;
    left: 50%;
    transform: translate(-50%);
}

.social_img {
    width: 5vw;
    height: 5vw;
    margin: 0 0.5vw;
}

.social_img:hover {

    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
    filter: brightness(120%);
}

.social-mb {
    opacity: 0;
}

/* end social */
.slider.slider-banner.slick-initialized.slick-slider.slick-dotted {
    border: 6px solid #ffce45;
    background: #ffce45;
    border-radius: 5px;
}

.demo-description {
    position: absolute;
    top: 112vw;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 35vw;
    /* background-image: url(/assets/img/bg-p3.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: .7vw;

}

.demo-description iframe {
    width: 50vw;
    height: 28vw;
}

.boom-img {
    position: absolute;
    bottom: 5vw;
    left: -6vw;
}

.boom-img img {
    width: 8vw;
}

.textur {
    position: absolute;
    top: -6vw;
    left: -4vw;
}

.textur img {
    width: 6vw;

}


.textur1 {
    position: absolute;
    bottom: 4vw;
    right: -5.5vw;
}

.textur1 img {
    width: 7vw;

}

.banner {
    /* width: 48vw; */
    height: 28vw;
}

/*  */
.main {
    /* font-family:Arial; */
    /* width:500px; */
    display: block;
    margin: 0 auto;
}


.download-mobile {
    display: none;
}

.nav-mobile {
    display: none;
}

.character-mb {
    display: none;
}

.slider-for-mb {
    display: none;
}

#btn-menu {
    display: none;
}

.mob-mobile {
    display: none;
}


/* arrow slider*/
.btn-dieuhuong {
    width: 50px !important;
    height: 50px !important;
    z-index: 1 !important;
    filter: grayscale(0) !important;

}


/*footer*/

.footer {
    position: absolute;
    bottom: 2.5vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 700;
    width: 100%;
    font-size: 1vw;
}

.footer-mb {
    display: none;
}


.demo-description-mb {
    display: none;
}


.footer p {
    margin: 0;
}















/*MOBILE CSS */

@media only screen and (max-width:767px) {
    .wrapper {
        display: none;
    }

    .footer-mb {
        display: block;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: 700;
        width: 100%;
        font-size: 10px;
    }

    .footer-mb p {
        margin-bottom: 0;
    }


    .demo-description-mb {
        display: block;
    }


    .social-mb {
        opacity: 1;
    }



    .date-mob {
        display: block;
    }

    .wrapper-mobile {
        position: relative;
        background-image: url(/assets/img/mobile/bg_m_glo.webp);
        width: 100%;
        height: 500vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
    }

    .nav-mobile {
        display: block;
        float: right;
    }

    .nav-mobile img {
        width: 45px;
        margin-right: 10px;
        margin-top: 10px;
    }


    /*btn trailer*/
    .btn-trailer-m {
        display: block;
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
    }

    .btn-trailer-m img {
        width: 24vw;
        animation: animationScale 1.5s alternate infinite ease-in;
    }


    .date {
        position: absolute;
        top: 12%;
        left: 74%;
    }

    .date img {
        width: 100px;
    }




    .modal-dialog {
        max-width: 100vw;

    }

    video {
        width: 96vw;
    }

    iframe {
        width: 100%;
        height: 53.6vw;
    }

    button.close.close-banner.close-popup-banner {
        display: none;
    }


    .download-mobile {
        display: block;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .downloads-mobile {
        display: flex;
    }

    .download_img {
        width: 40vw;
    }



    .character-mb {
        display: block;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%);
        /* width: 83vw; */
        width: 240px;


    }

    .draggable {
        padding: 0px !important;
    }



    .character-mb-img {
        width: 60px;
        padding: 0px 0px 0px 0px;

    }

    .slider-for-mb {
        display: block;
        position: absolute;
        top: 54%;
        left: 14%;
        /* transform: translate(-50%); */
        width: 72vw;
    }

    .slider-for-mb-img {
        width: 270px;
    }

    .social {
        top: 460vw;
    }

    .social img {
        width: 15vw;
        height: 13vw;

    }

    .mob-mobile {
        position: absolute;
        display: block;
        z-index: 10;
        right: 0;
        height: 30%;
        transition: all 0.5s linear;
        transform: translate(150%);
        width: 80%;
        /* display: none; */
    }

    .boom-img img {
        width: 15vw;
    }


    .boom-img {
        position: absolute;
        bottom: -4vw;
        left: -7vw;
    }



    .demo-description iframe {
        width: 100%;
        height: 52.5vw;
    }



    .textur img {
        width: 8vw;

    }




    .textur1 img {
        width: 8vw;

    }




    .mob-mobile img {
        width: 100%;
        height: 100%;
    }

    .close {
        position: absolute;
        top: 0;
        left: 2px;
        background: transparent;
        height: 45px;
        width: 60px;
    }


    #btn-menu:checked~.mob-mobile {
        transition: all 0.5s linear;
        transform: translate(0%);

    }

    .slick {
        /* overflow: hidden; */
    }

    .demo-description {
        top: 391vw;
        width: 89vw;
        height: 59vw;

    }

    .banner {
        /* width: 48vw; */
        height: 52vw;
    }


    .nav-fan {
        position: absolute;
        left: 45px;
        top: 50px;
    }

    .nav-fan img {
        width: 120px;
        height: 30px;
        margin: 20px;
        filter: grayscale(2);
    }

    .nav-fan img:hover {
        filter: brightness(20%);
    }


    .slider-for-mb {
        animation: jump 1.5s linear alternate infinite;

    }

    /* arrow slider*/
    .btn-dieuhuong {
        width: 25px !important;
        height: 25px !important;

    }

    .slick-prev {
        left: 15px;
    }

    .slick-next {
        right: 15px;
    }

    .character-mb-item .btn-dieuhuong {
        display: inline !important;

    }

    img.slick-next.slick-arrow.btn-dieuhuong {
        transform: translate(35px, -25px);
    }

    img.slick-prev.slick-arrow.btn-dieuhuong {
        transform: translate(-35px, -25px);
    }



    /* dots slider mobile */

    .demo-description .slick-dots li {
        background-size: 110%;
        width: 5vw;
    }



    .demo-description .slick-dots {
        top: 208px;
    }

}

@media only screen and (min-width:768px) {
    .mb_characters {
        display: none;
    }
}




@keyframes animationScale {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}


/* ------------------------------VN-------------------------- */

.wrapper_global {
    display: none;
}



.wrapper_vn {
    /* display: none; */

}

.wrapper_vn .wrapper {
    background-image: url(/assets/img/img_vie/bg_pc_vie.webp);
}

.date {
    display: none;
}

.wrapper_vn .btn-trailer {
    top: 11%;
}


.wrapper_vn .nav_img {
    width: 10.2vw;
}

.wrapper_vn .nav_guidline img {
    width: 12vw;
    margin-top: -0.7vw;

}

.wrapper_vn .nav_community img {
    width: 12vw;
    margin-top: -0.5vw;


}

.wrapper_vn .slider-character {}

.characters {
    position: absolute;
    background-image: url(/assets/img/img_vie/22+_vie.png);
    width: 5vw;
    height: 5vw;
    top: 0;
    right: -3vw;
    background-size: 100%;
    background-repeat: no-repeat;
}


.wrapper_vn .slider-character .slider-for img {
    height: 21vw;
}




#btn:checked~.mob-mobile {
    transition: all 0.5s linear;
    transform: translate(0%);

}




.slider.slider-nav.slick-initialized.slick-slider.slick-dotted {
    width: 87%;

}


.slick-list.draggable {
    width: 100%;
}



/* ----------------VN MB-------------- */
.wrapper_vn .wrapper-mobile {
    background-image: url(/assets/img/nv-m/Mobile_VIE.webp);

}

.wrapper_vn .character-mb-item.slick-initialized.slick-slider.slick-dotted {
    width: 98%;

}

.wrapper_vn .character-mb {
    margin-left: -7%;
}


.wrapper_vn .slick-dots {
    width: 110%;
    bottom: -4vw;

}

.wrapper_vn .mb_characters {
    position: absolute;
    background-image: url(/assets/img/img_vie/22+_vie.png);
    width: 15vw;
    height: 15vw;
    top: 47%;
    right: 3vw;
    background-size: 100%;
    background-repeat: no-repeat;
}



img.vn_nav_guideline {
    width: 42vw;
    height: 10vw;
}


img.vn_nav_community {
    width: 44vw;
    height: 12vw;
}

/* ----------------VN MB-------------- */






/* ------------------------------VN-------------------------- */