/* Reseting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*  */

/* wrapper */

.wrapper {
    position: relative;
    background-image: url(/assets/img/bg-pc.jpg);
    height: 160vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}



/* nav  */
.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 26vw;
    line-height: 5vw;

}

.nav_img {
    width: 10.2vw;
    height: 1.7vw;
    min-width: 70px;
}

.nav_img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s ease;
    filter: brightness(50%);
}

/* end nav  */


/*download */
.download {
    position: absolute;
    display: flex;
    top: 45vw;
    left: 50%;
    transform: translate(-50%);

}

.download_img {
    width: 13vw;
    margin: 0 10px;
}

.download_img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.6s ease;
    filter: brightness(120%);
}

/* end download */

/* social */

.social {
    position: absolute;
    display: flex;
    top: 147vw;
    left: 50%;
    transform: translate(-50%);
}

.social_img {
    width: 7vw;
    height: 6vw;
    margin: 0 0.5vw;
}

.social_img:hover {

    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
    filter: brightness(120%);
}

/* end social */


.demo-description {
    position: absolute;
    top: 112vw;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 35vw;
    background-image: url(/assets/img/bg-p3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: .7vw;

}

.boom-img {
    position: absolute;
    bottom: 5vw;
    left: -2vw;
}

.boom-img img {
    width: 8vw;
}

.textur {
    position: absolute;
    top: -6vw;
    left: -4vw;
}

.textur img {
    width: 6vw;

}


.textur1 {
    position: absolute;
    bottom: 4vw;
    right: -5.5vw;
}

.textur1 img {
    width: 7vw;

}

.banner {
    /* width: 48vw; */
    height: 28vw;
}

/*  */
.main {
    /* font-family:Arial; */
    /* width:500px; */
    display: block;
    margin: 0 auto;
}


.download-mobile {
    display: none;
}

.nav-mobile {
    display: none;
}

.character-mb {
    display: none;
}

.slider-for-mb {
    display: none;
}

#btn-menu {
    display: none;
}

.mob-mobile {
    display: none;
}




/*MOBILE CSS */

@media only screen and (max-width:767px) {
    .wrapper {
        display: none;
    }

    .wrapper-mobile {
        position: relative;
        background-image: url(/assets/img/mobile/bg-m.jpg);
        width: 100%;
        height: 500vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .nav-mobile {
        display: block;
        float: right;
    }

    .nav-mobile img {
        width: 45px;
        margin-right: 10px;
        margin-top: 10px;
    }


    .download-mobile {
        display: block;
        position: absolute;
        top: 650px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .downloads-mobile {
        display: flex;
    }

    .download_img {
        width: 40vw;
    }



    .character-mb {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 70vw;

    }

    .character-mb-item {}



    .character-mb-img {
        width: 80px;
        padding: 0 15px;

    }

    .slider-for-mb {
        display: block;
        position: absolute;
        top: 54%;
        left: 22%;
        /* transform: translate(-50%); */
        width: 72vw;
    }

    .slider-for-mb-img {
        width: 270px;
    }

    .social {
        top: 455vw;
    }

    .social img {
        width: 15vw;
        height: 13vw;

    }

    .mob-mobile {
        position: absolute;
        display: block;
        z-index: 10;
        right: 0;
        height: 30%;
        transition: all 0.5s linear; 
        transform: translate(150%);
        width: 80%;

    }

    .boom-img img {
        width: 15vw;
    }


    .boom-img {
        position: absolute;
        bottom: 3vw;
        left: -3vw;
    }
    .textur img {
        width: 8vw;
    
    }
    
    
  
    
    .textur1 img {
        width: 8vw;
    
    }

   


    .mob-mobile img {
        width: 100%;
        height: 100%;
    }

    .close {
        position: absolute;
        top: 0;
        left: 2px;
        background: transparent;
        height: 45px;
        width: 60px;
    }


    #btn-menu:checked~.mob-mobile {
        transition: all 0.5s linear; 
        transform: translate(0%);

    }


    .demo-description {
        top: 391vw;
        width: 89vw;
        height: 59vw;
    }

    .banner {
        /* width: 48vw; */
        height: 52vw;
    }


    .nav-fan {
        position: absolute;
        left: 45px;
        top: 50px;
    }

    .nav-fan img {
        width: 120px;
        height: 30px;
        margin: 20px;
        filter: grayscale(2);
    }

    .nav-fan img:hover {
        filter: brightness(20%);
    }









}