.slider-character {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  display: block;
  /* margin:0 auto; */
}

.slider-character.slider img {
  height: 8vw;
}


img.slider-character-img {
  width: 5vw;
}


.slider-character .slider-nav img {
  filter: grayscale(1);
  margin: 0 auto;
  cursor: pointer;
}


.character-mb img {
  filter: grayscale(1);
  margin: 0 auto;
  cursor: pointer;
}

.slider.slider-for.slick-initialized.slick-slider {
  margin-top: 4vw;
}



.slider-character .slider-for {
  animation: jump 1.5s linear alternate infinite;

}

.slider-character .slider-for img {
  height: 19vw;
  width: auto;
  margin: 0 auto;
}

.slider-character .slider-nav .slick-current img {
  filter: grayscale(0);
}

.character-mb .slick-current img {
  filter: grayscale(0);
}



/* dots slider */

.demo-description .slick-dots li {
  background-image: url(/assets/img/step-off.png);
  background-repeat: no-repeat;
  width: 2vw;
  background-size: 81%;
}

.demo-description .slick-dots li.slick-active {
  background-image: url(/assets/img/step-on.png);
}


.slick-dots {
  bottom: -2vw;

}

/* slider character */
.characters_global{
  position: absolute;
  background-image: url(/assets/img/22+.png);
  width: 5vw;
  height: 5vw;
  top: 0;
  right: -3vw;
  background-size: 100%;
  background-repeat: no-repeat;
}



/* end  slider character  */


@keyframes jump {
  0% {
    transform: translateY(0px)
  }

  50% {
    transform: translateY(-10px)
  }

  100% {
    transform: translateY(-20px)
  }
}